<footer>
    <ul>
      <li><a href="/">Houston Web Design</a></li>
      <li><a href="http://schipul.com/">Schipul Web Design</a></li>
      <li><a href="/">Schipul Search Engine Marketing</a></li>
      <li><a href="http://tendenci.com/">Tendenci® Membership Management Software</a></li>
    </ul>
    <ul>
      <li><a href="/sitemap/">Site Map</a></li>
      <li><a href="/rss/">RSS</a></li>
      <li><a href="/search/">Search</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/">Privacy</a></li>
    </ul>
</footer>
