{% extends "site_base.html" %}
{% load styled_forms %}
{% load forms_tags %}
{% load i18n %}

{% block title %}{{ block.super }} Contact Us{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">
{% endblock %}

{% block body %}
<div class="t">
{% if SITE_GLOBAL_CONTACT_FORM %}
    {% embed_form SITE_GLOBAL_CONTACT_FORM "forms/contact_form.html" %}
{% else %}
    <h1>{% trans "Contact Us" %}</h1>
    {% if request.user.profile.is_staff %}
    <div class='form-export'><a href="{% url contacts %}">View Entries</a> | <a href="{% url form.export %}">Export Entries</a></div>
    {% endif %}

    <div class="contact-form-wrap">
    
        {% blocktrans %}
        <p>Please fill out the form below.</p>
        {% endblocktrans %}

        <form action="{% url form %}" method="post">{% csrf_token %}
        <div class="forms">
            {{ form|styled_form }}
            <input type="submit" value="Contact {{ SITE_GLOBAL_SITEDISPLAYNAME|capfirst }}" />
        </div>
        </form>
    </div>
{% endif %}
</div>
{% endblock %}
{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/email-verification.js"></script>
{% endblock %}
