@charset "utf-8";

/* RESET HTML
================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, #menu, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, #menu, section {
  display: block;
}

/* BASE HTML
================================================== */
body { margin:0; padding:0; background:#fff; font:13px/1.25  sans-serif; *font-size: small; font-family:Verdana, Geneva, sans-serif }

h1,  h1 a { font-size: 34px; text-decoration: none;  margin-bottom: 10px;  font-family: 'SteelfishRgRegular'; color:#5c3712; }
h2, h2 a  { font-size: 26px; text-decoration: none;  margin-bottom: 10px;  font-family: 'SteelfishRgRegular'; color:#5c3712; }
h3, h3 a {  font-size: 22px; text-decoration: none;  margin-bottom: 10px;  font-family: 'SteelfishRgRegular'; color:#5c3712; }
h4, h4 a  { font-size: 18px; text-decoration: none;  margin-bottom: 10px;  font-family: 'SteelfishRgRegular'; color:#5c3712; }

a { color:#48ABC4; text-decoration:none;}
a:hover { text-decoration: underline; }
a { text-decoration:none;}
a img { border:none;}
:focus { outline:none;}
.clr { clear:both;}
.fl { float:left;}
.fr { float:right;}
ul, li { list-style:none;}

/* HEADER STYLES
================================================== */

/* HEADER ELEMENTS */
#header .logo { margin:17px 0 0 17px; }
#header .logo a { margin:0; padding:0; }
#header #header-right-container { margin:20px 10px 0 0; float:right; }
#header .searchdiv input[type="text"] { width:169px; height:33px; margin:0; padding:0 10px; float:left; background:url(../images/searchbox.png) no-repeat left top; line-height:33px; border:none; font-size:12px; color:#97816a; font-style:italic; font-family:Verdana, Geneva, sans-serif;}
#header .searchdiv input[type="submit"] { float:left; width:28px; height:33px; background:url(../images/search_btn.png) no-repeat left top; border:none; cursor:pointer;}
#header .boxdiv { float:right; margin: 10px 0 0 0; }

/* MAIN NAVIGATION */
#nav-container { width:100%; margin:7px 0 0 0; padding:5px 0; height:40px; background:url(../images/nav_bg.png) repeat-x center top; }
#nav-container #nav { height:40px; }
nav .block .content { margin: 0; padding: 0; }
nav ul, nav li { margin: 0; padding: 0; list-style:none; list-style-image: none; }
nav h2 { display: none; }
nav ul li { float: left;  position: relative; }
nav>ul>li { background:url(../images/li_sep.jpg) no-repeat right top; }
nav>ul>li:last-child { background:none; }
nav ul li a { display:block; font-size:12px; color:#5c3712; padding: 13px 21px; }
nav ul li a:hover { background: #5c3712; color: #f0f0f0; text-decoration: none; }
nav ul ul { display: none; position: absolute; left: 0; width: 160px; z-index: 999; }
nav ul ul a { width: 167px; background: #f0f0f0; padding: 13px 21px; }
nav ul ul ul { position: absolute; top: 0; left: 160px; }
nav ul ul ul, nav ul ul ul ul, nav ul li:hover ul ul { display: none; }
nav ul li:hover ul, nav ul ul li:hover ul { display: block; }


/* HOMEPAGE CONTENT
================================================== */

/* ROTATOR */
#rotator-container { margin:12px auto; height:518px; background:url(../images/gallery_bg.jpg) repeat-x center top;}
#rotator-wrap, #rotator { width:941px; height:508px; margin: 4px auto; }
.rotator-item { width:100%; height: 100%; overflow: hidden; }
.rotator-content  { background:url(../images/gallery_textdiv.png); z-index: 2;  left:0px; bottom:0px; height: auto; position: absolute;  width:437px; height:310px; }
.rotator-content  h1 { padding:45px 70px 0 35px; }
.rotator-content  h1 a { font-size:60px; color:#b24a42; font-family: 'SteelfishRgRegular'; text-shadow:1px 2px 0 #a2a2a1; font-weight:normal;}
.rotator-content p {  margin:0; padding:12px 70px 0 35px; font-size:12px; color:#222222; line-height:20px; }
.rotator-content a.readmore { margin:12px 0 0 35px ; font-size:12px; color:#48abc4; font-style:italic; display:inline-block; text-decoration:underline; }
.rotator-image { position: absolute; z-index: 0; right: 0; }
.rotator-image a img, .rotator-image img { width:941px; height:508px; }
#stories-pager { left:29px; top:15px; position: absolute; z-index: 4; }
#stories-pager a {display: block;  background:url(../images/paging_ancerbg.png)  no-repeat center  center; width:40px; height:30px; text-align:center; font-size:14px; color:#5c3712; font-style:italic; font-weight:bold; float: left; padding:7px 0 0 0;}
#stories-pager a.activeSlide { background:url(../images/paging_ancerbg_hover.png) no-repeat center  center;}

/* HOMEPAGE BODY CONTENT */
#home-content h3 { font-size:36px; margin:0 0 15px 0; padding:0 0 5px 0; color:#5c3712; border-bottom:solid 1px #e8c8c6; font-family: 'SteelfishRgRegular'; font-weight: bold; }

.home-row { margin: 0 0 10px 0; }
.home-row p {font-size:12px; color:#222222; font-weight:normal;}
.home-row .buttondiv a { margin:10px 0 0 0; padding:5px 0 0 0; height:74px; background:url(../images/button_bg.png) no-repeat left top; text-align:center; font-family: 'SteelfishRgRegular'; font-size:48px; color:#f1f1f1; text-shadow:1px 2px 0 #422a11; display:block;}
.home-row .boxdiv img {float:left; width:298px; height:193px; margin:0 12px 0 0; }
.col ul { list-style: none; margin-left: 2px; }
.col a { font-size:12px; color:#48abc4; font-style:italic; text-decoration:underline; }
.col .right-link { float: right }
#video-urls iframe, #video-urls embed, #video-urls object { position: relative; width: 100%; height: auto; }
#event-urls li { padding:10px 0 5px 0; }
#event-urls a {font-size:12px; color:#b34a42; font-weight:bold; font-style:normal; text-decoration:none;}
#photo-urls { list-style: none; margin: 0 -2px; } 
#photo-urls li { float: left; margin: 5px; }
#photo-urls li a img { border: 4px #fff solid; }

/* INTERIOR BODY CONTENT */
#body-content  { padding: 1%; background:url(../images/shadow_1.png) no-repeat center top; }
#body-content-left { float: left; padding: 10px; margin: 1% auto 2%; }
#body-content-right { float: right; padding: 10px; margin: 1% auto 2%;}

/* INTERIOR SIDEBARS */
.sidebar { background-color: rgba(235, 235, 235, 0.9); box-shadow: 4px 6px 13px -3px rgba(0, 0, 0, 0.5); padding: 2%; }
#sidebar-left { float: left; }
#sidebar-right { float: right; }

/* PHOTOS */
.sidebar #photos ul { list-style: none; margin: 0 0 20px; height: 330px; } 
.sidebar #photos ul li { float: left; margin: 2%; }
.sidebar #photos ul li a img { border: 4px #fff solid; width: 100%; height: auto; }

#footer { padding:0 0 20px 0; border-top:solid 1px #e8c8c6;}
#footer .socialdiv { margin:20px 0 0 7px; padding:0; float:left;}
#footer .socialdiv a { margin:0 17px 0 0 ; padding:0; float:left;} 
#footer .socialdiv a:last-child { margin:0 ; padding:0; float:left;} 
#footer .rightside { margin:13px 0 0 20px; padding:0; float:right; width:690px;}
#footer .rightside ul { margin:5px 0 0 0; padding:0; float:lefte; width:690px; overflow:hidden;}
#footer .rightside ul li { display:block; margin:3px 0 0 0; padding:0 5px; list-style:none; float:left; background:url(../images/sep_1.jpg) no-repeat right 2px; font-size:12px; color:#5e3b17;}
#footer .rightside ul li:last-child { background:none; padding-right:0;}
#footer .rightside ul li a { margin:0; padding:0; float:left; display:block; font-size:12px; color:#5e3b17;}
