<div class="footer container">
    <div class="left-container">
        <h2>Sponsors</h2>
        <div class="sponsordiv">
            <a class="leftarrow" href="/"><img src="{{ THEME_URL }}media/images/left_arrow.png" border="0" alt="" /></a>
            <ul>
                <li><a href="/"><img src="{{ THEME_URL }}media/images/spo_img_1.png" border="0" alt="" /></a></li>
                <li><a href="/"><img src="{{ THEME_URL }}media/images/spo_img_2.png" border="0" alt="" /></a></li>
                <li><a href="/"><img src="{{ THEME_URL }}media/images/spo_img_3.png" border="0" alt="" /></a></li>
            </ul>
            <a class="rightarrow" href="/"><img src="{{ THEME_URL }}media/images/rright_arrow.png" border="0" alt="" /></a>
        </div>    
        <div class="linksdiv clearfix">
            <ul>
                <li><a href="/sitemap/">Site Map</a></li>
                <li><a href="/rss/">RSS Index</a></li>
                <li><a href="http://schipul.com/">Schipul Web Design</a></li>
                <li><a href="http://tendenci.com/">Tendenci® Membership Management Software</a></li>
            </ul>
        </div>
    </div>
    <div class="right-container">
        <h2>Contact Us</h2>
        <p>12345 Main Street <br />Houston, Texas 77071 <br />Phone: 555-555-555 <br />Fax: 555-555-555 <br />Email: <a href="mailto:info@prfirmhouston.com">info@prfirmhouston.com</a></p>
        <div class="socialdiv clearfix">
            <a href="/"><img src="{{ THEME_URL }}media/images/twitter_icon.jpg" border="0" alt="" /></a>
            <a href="/"><img src="{{ THEME_URL }}media/images/linkedin_icon.jpg" border="0" alt="" /></a>
            <a href="/"><img src="{{ THEME_URL }}media/images/facebook_icon.jpg" border="0" alt="" /></a>
        </div>
        <div class="searchdiv">
            <form method="get" action="/search/">
                <input type="text" name="q" value="" />
                <input type="submit" name="" value=""/>
            </form>
        </div>
    </div>
</div>
