{% extends 'site_base.html' %}
{% load url from future %}

{% block meta_description %}Tendenci Blog{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}zinnia/img/favicon.ico" />
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />
    <link rel="stylesheet" href="{{ STATIC_URL }}blog/blog.css" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/ie.css" />
    <![endif]-->
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
{% endblock %}

{% block body_classes %}zinnia{% endblock %}
