<form action="{% url group.smart_groups %}" method="get">

<fieldset>
    <span>Join Date</span>
    <label for="join_start_dt">from:</label>
    <input type="text" class="datepicker" name="join_start_dt" value="" />
    <label for="join_end_dt">to:</label>
    <input type="text" class="datepicker" name="join_end_dt" value="" />
</fieldset>

<fieldset>
    <span>Last Login</span>
    <label for="login_start_dt">from:</label>
    <input type="text" class="datepicker" name="login_start_dt" value="" />
    <label for="login_end_dt">to:</label>
    <input type="text" class="datepicker" name="login_end_dt" value="" />
</fieldset>

<fieldset>
    <span>Number of Contributions (Enter an integer)</span>
    <label for="contribution_start">from:</label>
    <input type="text" pattern="\d*" name="contribution_start" value="" />
    <label for="contribution_end">to:</label>
    <input type="text" pattern="\d*" name="contribution_end" value="" />
</fieldset>

<fieldset>
    <span>Total Amount of Invoices Associated</span>
    <label for="invoices_start">from: {{ SITE_GLOBAL_CURRENCYSYMBOL }}</label>
    <input type="text" pattern="\d*(?:\.\d{1,2})?\b" name="invoices_start" value="" />
    <label for="invoices_end">to: {{ SITE_GLOBAL_CURRENCYSYMBOL }}</label>
    <input type="text" pattern="\d*(?:\.\d{1,2})?\b" name="invoices_end" value="" />
</fieldset>
<div class="clear"></div>

<input class="btn" type="submit" value="Filter" />
</form>
