<form class="search-form" action="{% url group.smart_groups %}" method="get">

<fieldset>
    <legend>Join Date</legend>
    <div class="form-field clearfix">
        <div class="id_join_start_dt">
                <div class="label">
                    <label for="join_start_dt">From:</label>
                </div>
                <div class="field">
                    <input type="text" class="datepicker" name="join_start_dt" value="" />
                </div>
         </div>
    </div>

    <div class="form-field clearfix">
        <div class="id_join_end_dt">
                <div class="label">
                    <label for="join_end_dt">To:</label>
                </div>
                <div class="field">
                    <input type="text" class="datepicker" name="join_end_dt" value="" />
                </div>
         </div>
    </div>
</fieldset>

<fieldset>
    <legend>Last Login</legend>
    <div class="form-field clearfix">
        <div class="id_login_start_dt">
                <div class="label">
                    <label for="login_start_dt">From:</label>
                </div>
                <div class="field">
                    <input type="text" class="datepicker" name="login_start_dt" value="" />
                </div>
         </div>
    </div>

    <div class="form-field clearfix">
        <div class="id_login_end_dt">
                <div class="label">
                    <label for="login_end_dt">To:</label>
                </div>
                <div class="field">
                    <input type="text" class="datepicker" name="login_end_dt" value="" />
                </div>
         </div>
    </div>
</fieldset>

<fieldset>
    <legend>Number of Contributions (Enter an integer)</legend>
    <div class="form-field clearfix">
        <div class="id_contribution_start">
                <div class="label">
                    <label for="contribution_start">From:</label>
                </div>
                <div class="field">
                    <input type="text" pattern="\d*" name="contribution_start" value="" />
                </div>
         </div>
    </div>

    <div class="form-field clearfix">
        <div class="id_contribution_end">
                <div class="label">
                    <label for="contribution_end">To:</label>
                </div>
                <div class="field">
                    <input type="text" pattern="\d*" name="contribution_end" value="" />
                </div>
         </div>
    </div>
</fieldset>

<fieldset>
    <legend>Number of Invoices Associated (Enter an integer)</legend>
    <div class="form-field clearfix">
        <div class="id_invoices_start">
                <div class="label">
                    <label for="invoices_start">From:</label>
                </div>
                <div class="field">
                    <input type="text" pattern="\d*" name="invoices_start" value="" />
                </div>
         </div>
    </div>

    <div class="form-field clearfix">
        <div class="id_invoices_end">
                <div class="label">
                    <label for="invoices_end">To:</label>
                </div>
                <div class="field">
                    <input type="text" pattern="\d*" name="invoices_end" value="" />
                </div>
         </div>
    </div>
</fieldset>
<div class="clear"></div>

<input class="btn" type="submit" value="Filter" />
</form>
